<Project>
  <PropertyGroup>
    <VintageStoryPath>D:\Path\To\Vintagestory</VintageStoryPath>
    <ISRWorldGenDataPath>$(MSBuildThisFileDirectory).local\VintagestoryData</ISRWorldGenDataPath>
  </PropertyGroup>
</Project>
